:root {
  --bg-color: #ffffff;
  --foreground: #171717;

  --height-header: 90px;
  --bg-header: #4284e8;
  --width-sidebar: 240px;
}

@media (prefers-color-scheme: dark) {
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(----bg-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.root {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
}
