:root {
  --bg-color: #ffffff;
  --foreground: #171717;

  --height-header: 60px;
  --bg-header: #399dd5;
  --width-sidebar: 240px;
  --spacer-tb: 32px;
  --spacer-lr: 24px;
}

@media (prefers-color-scheme: dark) {
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

body {
  color: var(--foreground);
  background: var(----bg-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.container {
  display: flex;
  flex: 1;
}
.content {
  flex: 1;
  padding: var(--spacer-tb) var(--spacer-lr);
}
/* input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
} */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(158, 158, 158); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(102, 116, 118); 
}