.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: 470px;
    width: 630px;
    .title {
      font-style: italic;
      margin-bottom: 5px;
      font-size: 1.7rem; 
      font-weight: bold;
    }
    form{
      display: flex;
      flex-direction: column;
      flex: 1;
      div {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        label {
          font-weight: bolder;
          margin-left: 10px;
          color: #777777;
          font-size: 0.8rem;
        }
        input {
          width: 380px;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #ccc;
        }
      }
      .submitBtn{
        align-self: center ;
        margin-top: 20px;
        width: 200px;
      }
    }
}
