.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
}
.form-info {
  flex: 1;
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.price {
  position: absolute;
  bottom: 0;
  right: 60px;
}
.content {
  flex: 1;
  max-height: 323px;
  margin: var(--spacer-tb) 0;
}
.wrap-btn {
  display: flex;
  justify-content: space-around;
}
.wrapper-content-modal {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: var(--spacer-lr);
}
.heading-modal {
  text-align: center;
}
.list-books {
  flex: 1;
  padding: var(--spacer-lr) 0;
  max-height: 509px;
}

.btn-modal {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.error-add-books {
  font-size: 0.8rem;
  color: red;
}
