.container{
  border-collapse: collapse;
  display:flex;
  flex-direction:column;
  // justify-content:center;
  // align-items:center;
  border: 1px solid #ccc;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
.header {
  width: calc(100% - 6px );
  align-self: self-start;
  border-bottom: 0px;
  border-radius: 10px 10px 0 0 ;
}
.data_container{
  overflow-y: scroll;
  max-height: 290px;
  border-radius: 0 0 10px 10px ;
}
.container > * {
  display: table;
  width: 100%;
}
.row{
  display:flex;
  flex:1;
}

.column{
  flex:1;
  font-size: 1rem;
  padding: 10px 20px;
  height: 60px;
  text-align:center;
  display: flex;
  border: 1px solid #e0e0e0ed;
}
.title{
  background-color: rgba(0, 136, 255, 0.295);
  font-size: 1.2rem;
}
.btn-trash {
  background-color: transparent,
  border: none,
  cursor: pointer,
  font-size: 17px,
} 
.icon{
  justify-content: center;
  flex: 0.3;
}

