.container {
  border-collapse: collapse;
  width: 100%;
  max-height: 100%;
  border-bottom: 2px solid rgb(150, 150, 150);
  th,td {
    min-width: 125px;
    font-size: 1rem;
    padding: 14px 20px;
    min-height: 48px;
  }
  th{
    border: 1px solid rgb(150, 150, 150);
    border-width: 0 1px 0 1px;
    
  }
  td{
    border: 1px solid rgb(150, 150, 150);
  }
  thead{
    background: linear-gradient(90deg, rgba(84, 175, 255, 1) 0%, rgba(0, 123, 255, 1) 100%);
    position: sticky;
    top: 0;
    th {
      color: white;
      font-size: 1.1rem;
      
    }
  }


}

.column:nth-child(n+2) {
  text-align: center;
}

.btn-trash {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 17px;
}
.icon {
  justify-content: center;
  flex: 0.3;
}

.wrap-input {
  display: flex;
}
.input-field {
  flex:1;
  max-width: 100px;
  border: none;
  font-size: 1rem;

  &:focus-within {
    outline: none;
  }
}
.btn-up-down {
  display: flex;
  flex-direction: column;
  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 4px;
  }
}
