.wrapper-icon {
  width: 60px;
  height: 60px;
  padding: 12px;
  border-radius: 50%;
}
.icon-success {
  color: #fff;
  background-color: #3a9f40;
}
.icon-fail {
  color: #fff;
  background-color: #cc2626;
}
.icon {
  width: 36px;
  height: 36px;
}
.message {
  font-size: 1.4rem;
  margin-top: 8px;
}
