.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
}
.form-info {
  flex: 1;
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.price {
  position: absolute;
  bottom: 0;
  right: 60px;
}
.content {
  flex: 1;
  max-height: 410px;
  margin-top: var(--spacer-tb);
  overflow-y: auto;
}
.message {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  font-size: 0.8rem;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  color: #666;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
